<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List of medicalHistorys</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">
</head>

<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <img th:src="@{/img/logo.png}" alt="Logo" width="40" height="32"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none" />
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li><a href="/" class="nav-link text-secondary">Home</a></li>
                        <li><a href="/patients" class="nav-link text-white">Patients</a></li>
                        <li><a href="/doctors" class="nav-link text-white">Doctors</a></li>
                        <li><a href="/appointments" class="nav-link text-white">Appointments</a></li>
                        <li><a href="/medications" class="nav-link text-white">Medications</a></li>
                        <li><a href="/prescriptions" class="nav-link text-white">Prescriptions</a></li>
                        <li><a href="/tests" class="nav-link text-white">Tests</a></li>
                        <li><a href="/medicalHistorys" class="nav-link text-white">Medical Historys</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <br><br>


    <div class="container">
        <h1>Medical Historys</h1>
        <table class="table">
            <caption>List of Medical Historys</caption>
            <thead>
                <tr>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Doctor Notes</th>
                    <th scope="col">Diagnoses</th>
                    <th scope="col">Patient Full Name</th>
                    <th cope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="medicalHistory : ${medicalHistorys}">
                    <td th:text="${medicalHistory.creationDate}"></td>
                    <td th:text="${medicalHistory.doctorNotes}"></td>
                    <td th:text="${medicalHistory.diagnoses}"></td>
                    <td th:text="${medicalHistory.patient != null ? medicalHistory.patient.fullName : 'No Patient'}">
                    </td>
                    <td>
                        <a th:href="@{/medicalHistorys/{id}(id=${medicalHistory.id})}" class="link-info">View</a>
                        |
                        <a th:href="@{/medicalHistorys/delete/{id}(id=${medicalHistory.id})}"
                            class="link-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="#" method="get" th:action="@{/medicalHistorys}" class="row g-3 ms-auto" style="max-width: 700px;">
            <div class="col-auto">
                <legend>Filter</legend>
            </div>
            <div class="col-auto">
                <label for="option" class="visually-hidden">Select Option:</label>
                <select id="option" name="option" class="form-select" onchange="toggleFields()">
                    <option value="1" th:selected="${filterOption == 1}">ID</option>
                    <option value="2" th:selected="${filterOption == 2}">Creation Date</option>
                    <option value="3" th:selected="${filterOption == 3}">Doctor Notes</option>
                    <option value="4" th:selected="${filterOption == 4}">Diagnoses</option>
                    <option value="5" th:selected="${filterOption == 5}">Test Results</option>
                    <option value="6" th:selected="${filterOption == 6}">Prescriptions</option>
                    <option value="7" th:selected="${filterOption == 7}">Patient Full Name</option>
                    <option value="8" th:selected="${filterOption == 8}">All Medical Historys</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="search" class="visually-hidden">Search:</label>
                <input type="text" id="search" name="search" th:value="${searchTerm}" class="form-control"
                    placeholder="Enter filter here" />
            </div>
            <div class="col-auto">
                <button id="filterButton" type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>

        <div id="patientFields" class="col-12" style="display:none;">
            <div class="input-group has-validation mb-3">
                <div class="d-flex align-items-center flex-grow-1">
                    <div class="form-floating me-2 flex-grow-1">
                        <input type="text" id="searchInputPatient" class="form-control"
                            placeholder="Patient Full Name" />
                        <label for="searchInputPatient" class="form-label">Patient Full Name</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" onclick="searchPatients()">Search Patients</button>
                </div>
            </div>
            <div id="patientList" class="list-group" style="display: none;"></div>
        </div>

        <br><br>
        <a href="/medicalHistorys/new" class="btn btn-success">Add New Medical History</a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

        <script>
            function toggleFields() {
                const option = document.getElementById('option').value;
                console.log("Selected option: ", option);
                const patientFields = document.getElementById('patientFields');

                patientFields.style.display = 'none';

                if (option == '7') {
                    patientFields.style.display = 'block';
                }
            }

            function searchPatients() {
                const searchInput = document.getElementById('searchInputPatient').value;

                fetch(`/medicalHistorys/search/patients?option=2&search=${encodeURIComponent(searchInput)}`)
                    .then(response => response.json())
                    .then(data => {
                        const patientList = document.getElementById('patientList');
                        patientList.innerHTML = '';

                        data.forEach(patient => {
                            const item = document.createElement('div');
                            item.className = 'list-group-item d-flex justify-content-between align-items-center';
                            item.textContent = `${patient.fullName} (Insurance No: ${patient.insuranceNumber})`;

                            const button = document.createElement('button');
                            button.className = 'btn btn-sm btn-primary';
                            button.textContent = 'Select';
                            button.onclick = () => {
                                if (patient && patient.id) {
                                    console.log("patient", patient);
                                    console.log(patient.id.toString());
                                    document.getElementById('search').value = patient.id.toString();
                                    patientList.innerHTML = '';
                                } else {
                                    console.error('patient or patient._id is undefined');
                                }
                            };


                            item.appendChild(button);
                            patientList.appendChild(item);
                        });

                        patientList.style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching patients:', error));
            }

        </script>
    </div>
</body>

</html>